.restaurant__listItem {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ededed;
  padding: 10px;
}

.restaurant__listItem__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0;
  padding: 0 30px;
}

.restaurant__listItem__info * {
  padding: 1px 0;
}

.restaurant__listItem__img {
  margin: auto 0;
  padding-left: 20px;
}

.restaurant__listItem__imgTag {
  max-width: 100px;
  max-height: 100%;
  border-radius: 10px;
}

.restaurant__listItem__info__name {
  color: #cb202d;
  font-weight: 700;
}

.restaurant__listItem__info__rating {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.restaurant__listItem__iconContainer {
  display: grid;
  place-items: center;
  width: 50px;
  height: 100%;
  margin-left: auto;
}