.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #EDEDED;
}

.app__content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__sorter {
  display: flex;
  justify-content: center;
  align-items: center;
}